<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_item}">
<head>
  	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 
  	<link rel="shortcut icon" href="/images/favicon.png" type="">

  	<title> Feane </title>
  	<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
	<script src="/js/custom.js"></script>
</head>

<body class="sub_page">

	<section layout:fragment="content" class="food_section layout_padding">
    	<div class="container">
     		<div class="heading_container heading_center">
        		<h2>Cart List</h2>
      		</div>
      		<div class="filters-content">
		       <div class="row grid">
		       	<th:block th:each="item, status: ${items}">
		         <div class="col-sm-6 col-lg-4 all">
		           <div class="box">
		             <div>
		               <div class="img-box"><img class="list_img" th:id="${item.item.itemGubun}" src="" alt=""></div>
		               <div class="detail-box">
		                 <h5>[[${item.item.itemName}]]</h5>
		                 <p>[[${item.item.itemGubun}]] | <i class="fa-solid fa-bolt me-1"></i><font>[[${item.item.watt}]]</font> | [[${item.item.tier}]] Tier</p>
		                 <div class="options">
		                 	<h6 class="test"><i class="fa-solid fa-won-sign me-2"></i>[[${item.item.price}]]</h6>
		                 	<a href="#" onclick="delCpu()" title="상세보기"><i class="fa-regular fa-trash-can"></i></a>
		                 </div>
		               </div>
		             </div>
		           </div>
		         </div>
		         </th:block>
		       	</div>
				<!-- 여기까지 리스트 --> 
		       	<div class="grid row">
		       		<div class="col-sm-6"></div>
		       </div>
		     </div>
		     <script>
		     	function doSum(){
		    	    let sum = 0;
		    	    $('.test').each(function(){
		    	        if(!isNaN($(this).text())){
		    	            sum += parseInt($(this).text());
		    	        }
		    	    });
		    	    console.log(sum);
	    		}
		     	$(function(){
					$('.list_img').each(function(){
		    	    	if($(this).attr('id')=='CPU')$(this).attr('src','/images/c01.png');
		    	    	if($(this).attr('id')=='RAM')$(this).attr('src','/images/r01.png');
		    	    	if($(this).attr('id')=='BOARD')$(this).attr('src','/images/mb01.png');
		    	    	if($(this).attr('id')=='VGA')$(this).attr('src','/images/v01.png');
		    	    	if($(this).attr('id')=='MEMORY')$(this).attr('src','/images/m01.png');
		    	    	if($(this).attr('id')=='POWER')$(this).attr('src','/images/p01.png');
		    	    	if($(this).attr('id')=='CASE')$(this).attr('src','/images/case01.png');
		    	    });
				})
		     </script>
    	</div>
  </section>
</body>
</html>