<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_item}">
<head>
  	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 
  	<link rel="shortcut icon" href="/images/favicon.png" type="">

  	<title> Feane </title>
  	<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
	<script src="/js/custom.js"></script>
</head>

<body class="sub_page">

	<section layout:fragment="content" class="food_section layout_padding">
    	<div class="container">
     		<div class="heading_container heading_center">
        		<h2>Our Item</h2>
      		</div>

			<ul class="filters_menu">
				<li class="active" data-filter="*">All</li>
				<li data-filter=".CPU">CPU</li>
				<li data-filter=".RAM">RAM</li>
				<li data-filter=".BOARD">메인보드</li>
				<li data-filter=".VGA">그래픽</li>
				<li data-filter=".MEMORY">저장장치</li>
				<li data-filter=".POWER">파워</li>
				<li data-filter=".CASE">케이스</li>
			</ul>

      		<div class="filters-content">
		       <div class="row grid">
		       	<th:block th:each="item, status: ${items.getContent()}">
		         <div class="col-sm-6 col-lg-4 all" th:classappend="${item.itemGubun}">
		           <div class="box">
		             <div>
		               <div class="img-box"><img src="/images/c01.png" alt=""></div>
		               <div class="detail-box">
		                 <h5>[[${item.itemName}]]</h5>
		                 <p>[[${item.itemGubun}]] | <i class="fa-solid fa-bolt me-1"></i>[[${item.watt}]] | [[${item.tier}]] Tier</p>
		                 <div class="options">
		                 	<h6><i class="fa-solid fa-won-sign me-2"></i>[[${item.price}]]</h6>
		                 	<a th:href="'/items/view/' +${item.id}" title="상세보기"><i class="fa-solid fa-right-to-bracket"></i></a>
		                 	<a th:href="'/items/payment/' +${item.id}" title="장바구니"><i class="fa-solid fa-cart-shopping"></i></a>
		                 </div>
		               </div>
		             </div>
		           </div>
		         </div>
		         </th:block>
		         <div class="col-sm-6 col-lg-4 all ram">
		           <div class="box">
		             <div>
		               <div class="img-box"><img src="/images/r01.png" alt=""></div>
		               <div class="detail-box">
		                 <h5>KLLISRE RAM</h5>
		                 <p>6티어 상급 RAM</p>
		                 <div class="options"><h6><i class="fa-solid fa-won-sign me-2"></i>30000</h6><a href=""><i class="fa-solid fa-right-to-bracket"></i></a></div>
		               </div>
		             </div>
		           </div>
		         </div>
		         <div class="col-sm-6 col-lg-4 all board">
		           <div class="box">
		             <div>
		               <div class="img-box"><img src="/images/mb01.png" alt=""></div>
		               <div class="detail-box">
		                 <h5>인텔 메인보드</h5>
		                 <p>6티어 상급 메인보드</p>
		                 <div class="options"><h6><i class="fa-solid fa-won-sign me-2"></i>30000</h6><a href=""><i class="fa-solid fa-right-to-bracket"></i></a></div>
		               </div>
		             </div>
		           </div>
		         </div>
				<!-- 여기까지 리스트 -->
		       </div>
		     </div>
    	</div>
  </section>
</body>
</html>