<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="header" class="footer_section">
	   <div class="container" style="background:#222831">
	     <div class="row">
	       <div class="col-md-4 footer-col">
	         <div class="footer_contact">
	           <h4>
	             Contact Us
	           </h4>
	           <div class="contact_link_box">
	             <a href="">
	               <i class="fa fa-map-marker" aria-hidden="true"></i>
	               <span>
	                 Location : 경기도 시흥시 대은로 000길 4, (참새타워)
	               </span>
	             </a>
	             <a href="">
	               <i class="fa fa-phone" aria-hidden="true"></i>
	               <span>
	                 042-8282
	               </span>
	             </a>
	             <a href="">
	               <i class="fa fa-envelope" aria-hidden="true"></i>
	               <span>
	                 hsparrow@naver.com
	               </span>
	             </a>
	           </div>
	         </div>
	       </div>
	       <div class="col-md-4 footer-col">
	         <div class="footer_detail jua">
	           <a href="" class="footer-logo">
	             Honawa
	           </a>
	           <p>대표: 000</p>
	           <p>사업자번호: 000-00-00000</p>
	           <p>과거를 지배하는 자가 미래를 지배하며<br>현재를 지배하는 자가 과거를 지배한다.</p>
	         </div>
	       </div>
	       <div class="col-md-4 footer-col jua">
	         <h4>Customer Service</h4>
	         <p>월요일 ~ 금요일</p>
	         <p>09:00 ~ 18:00</p>
	       </div>
	     </div>
	     <div class="footer-info jua">
	       <p>
	         &copy; <span id="displayYear"></span> All Rights Reserved By
	         방앗간 프로젝트<br><br>
	         &copy; <span id="displayYear"></span> Distributed By
	         <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
	       </p>
	     </div>
	   </div>
	 </footer>
</body>
</html>